<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DSSG // IDHS: Data-Driven Assessments</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">    
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">DSSG // IDHS: 707G Assessment Weighter</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/clinic">Clinic Home</a></li>
        <li><a href="/map_clinic">Map</a></li>
        <li><a href="/predict">707G Assessment</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>
   
</body>
</html>