{% extends "layout.html" %}
{% block content %}
    <div class="row">
    <div class="col-sm-10 col-centered text-center">
      <h1>Please login:</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"><br><br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"><br><br>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    </div>
{% endblock %}