{% extends "layout_clinic.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12 col-centered text-center">
    <h1>707G Assessment</h1>
  </div>
</div>
{% if risk_score %}
<div class="row">
  <div class="col-sm-6 col-centered text-center">
    <h3>Risk Score: {{risk_score}}</h3> 
    <h4>This risk score is in the top {{percentile}}% of risk scores.</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6 col-centered text-center">
    <p><b>Participant Risk Score:</b></p>
    <div class="progress">
      {% if danger %}
      <div id='riskBar' class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      {% else %}
      <div id='riskBar' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      {% endif %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script> $("#riskBar").css("width","{{risk_bar}}%"); </script>
        {{risk_score}}
      </div>
    </div>
    <p><b>Minimum Eligibility Score:</b></p>
    <div class="progress">
      <div id='thresBar' class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script> $("#thresBar").css("width","50%"); </script>
        {{threshold}}
      </div>
    </div>
    <br>
    <h4>{{my_answers}}</h4>
  </div>
</div>
{% endif %}
<br>
<div class="row">
<div class="col-sm-6 col-centered">
<form action="/predict" role="form" method="POST" id="prediction_form">
  <p><b>Check the box next to the question if the risk factor applies to the woman:</b></p>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q1" value="1">
    1. Alcohol or other substance abuse continuing during pregnancy?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q2" value="1">
    2. Tobacco use continuing during pregnancy?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q3" value="1">
    3. Diseases that affect pregnancy?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q4" value="1">
    4. Previous preterm birth (HX preterm births, stillbirths, 2 or more miscarriages)?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q5" value="1">
    5. Weight less than 100 lbs pre-pregnancy or during pregnancy?  
    </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q6" value="1">
    6. Pre-pregnancy BMI equal to or greater than 30?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q7" value="1">
    7. More than 4th pregnancy or 3rd child expected within 40 months?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q8" value="1">
    8. Age 40 years or greater at time of conception?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q9" value="1">
    9. HIV or repeated STD infections (including bacterial vaginosis)?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q10" value="1">
    10. Under age 15?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q11" value="1">
    11. Current pregnancy is multi-fetus?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q12" value="1">
    12. Victim of domestic violence?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q13" value="1">
    13. DSM IV classification?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q14" value="1">
    14. Low education attainment (over age 18 and less than 10th grade education)?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q15" value="1">
    15. Homeless or in temporary housing?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q16" value="1">
    16. Previously incarcerated or under house arrest?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q17" value="1">
    17. Previously had or currently has a child under DCFS custory?
  </label>
  </div>
  <p><b>The following questions are required if an eligible woman refuses BBO:</b></p>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q18" value="1">
    18. Client does not want home visits?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q19" value="1">
    19. Participation in program too time consuming?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q20" value="1">
    20. Client does not want to participate?
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" name="q21" value="1">
    21. Client does not want government/immigration involvement?
  </label>
  </div><br>
  <div class="row">   
  <div class="col-sm-6 col-centered text-center">
  <button type="submit" class="btn btn-primary btn-lg">Assess Risk</button>
  </div>
  </div>
</form>
</div>
</div>
{% endblock %}